{% extends 'controlhub/layout.html' %}
{% load static %}

{% block title %}
    {{ device_name }}
{% endblock %}

{% block body %}
    <div class="container-fluid px-3">
        <h1 class="display-6 text-center text-md-start">{{ device_name }}</h1>
    </div>
    <div class="container justify-content-center vh-100 pt-5">
        {% for device_action in device_actions %}
            <div class="device-action-container row py-2 my-3">
                <button class="btn-text-custom iot_action_btns btn btn-primary btn-circle btn-lg rounded-circle mb-2 d-block mx-auto ctrl-btn d-flex align-items-center justify-content-center position-relative" id="{{ device_action.id }}">
                    <span class="btn-text">
                        {% if device_action.last_state %}OFF{% else %}ON{% endif %}
                    </span>
                </button>
            </div>
        {% endfor %}
    </div>
{% endblock %}